@charset "ISO-8859-1";
	.backbutton, .savebutton{
    	font-size: 14px;
    	border-radius: 5px 5px 5px 5px;
		background:  #D8DCDE;

		padding: 4px 5px 5px 5px;				
		width: 60px;
		height: 28px;
		float: right;				
		margin: 3px;
		text-align: center;
		cursor: pointer;

		font-weight: normal;
		color: #333333;	
		border: 1px solid #CCCCCC;		
	}
	.ok_button{
    	font-size: 12px;
    	border-radius: 5px 5px 5px 5px;
		background:  #D8DCDE;
		padding: 5px 5px 5px 5px;				
		width: 60px;
		height: 28px;
		float: right;				
		margin: 3px;
		text-align: center;
		cursor: pointer;
	}
	.mentor_info_title{
    	font-size: 17px;
    	border-radius: 5px 5px 5px 5px;
		background: #fff;
		padding: 5px 5px 5px 15px;				
		height: 30px;	
		margin: 3px 10px 3px 10px;							
	}  	
	.add_mentor_head{
		font-size: 20px; 
		padding-left: 20px;
		border-radius: 5px 5px 5px 5px;
		margin: 3px 3px 3px 3px;
		background-color: #fff;
		height: 30px;
	}
	.required{
		color: #e32;
		content: " *";
		display: inline; 
	}
	.mentor_info_form{
    	font-size: 12px;
    	border-radius: 5px 5px 5px 5px;
		background: #fff;
		padding: 5px 30px 5px 30px;	
		margin: 0px 10px 0px 10px;		
		text-transform: none;										
	} 
	.page_footer{
		height: 40px; 
		background-color: #454545;
	}
	.mentor_added_message{
		height: 40px;
		width: 250px;
		border-radius: 5px 5px 5px 5px;
		background-color: #DFF0D8;
		color: #008000;
		display: block;
		position: absolute;
		left: 500px;
		top: 60px;"			
	}	
	.alert_popup{
		width: 300px;				
		border-radius: 5px 5px 5px 5px;						
		display: none;
		position: absolute;
		left: 500px;
		top: 5px;
		background-color: #FFFAFA;		
		text-transform: none;					
	}	
	
	.form_lable{
		width: 300px;
		padding-left: 100px;
		font-size: 14px;
		color: #909497;
	}				
	table.b, table tr.b, table td.b	{ 
		border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; border: 0; 
	}
	.txtbrcolr
	{
		border-color: red;
	}	
	.blank_popup{
		height: 600px;
		width: 100%;
		display: none;
		position: absolute;
		top: 0px;
		left: 0px;
		opacity: 0.1;
		background-color: #fff;
	}			  