@import url("http://fonts.googleapis.com/css?family=Oswald:400,300,700")
	;

body {
	font-family: Oswald, sans-serif;
	background-color: #EBEBEB;
	text-transform: uppercase;
}

.container {
    /*! max-width: 100%; */
    /*! padding-right:0%; */
    /*! padding-left:0%; */
}
			  .container-custom{width:100%; font-family:Oswald;max-width: 100%; text-transform: none;}
			  .nopad{padding:0;}
			  .navbar{background-color:#5a5c5f; padding: 0;}
			  .navbar .nav-link,.navbar-brand{color:#fff !important; padding:15px 25px !important; font-size:1rem; margin: 0}
			  .nav-link-img{color:#fff !important; padding:2px 2px !important; margin: 0}
			  .navbar .nav-link:hover{background-color:#000; color:#00ccff !important;}
			  .navbar .user-icon:hover{color:#fff !important;}
			  .form-inline{margin:0;}
			  .search-input{color:#fff !important;background-color: #737171;border-radius: 19px !important; border-color:#737171;}
			  .search-btn{z-index:4 !important;background-color:#737171; border: 0 !important;border-radius: 19px !important;position: absolute !important; right: 0;padding: 11px;}
			  .search-input.form-control:focus{background-color:#737171; box-shadow:none; border-color:#737171;}
			  .btn-secondary:hover, .btn-secondary:active{background-color:#737171 !important; box-shadow:none; border-color:#737171;border-radius: 19px !important;}
			  .btn-secondary.focus, .btn-secondary:focus{box-shadow: none;}
			  .user-icon .fa-user{padding: 4px;}
			  .alert_popup {	width: 300px;	border-radius: 5px 5px 5px 5px;	display: none;	position: absolute;	left: 500px;	top: 5px;	background-color: #FFFAFA;	text-transform: none;	padding: 7px 10px 5px 40px; border: 1px solid #DCDCDC; z-index: 10;}
			  .blank-popup-div{width: 100%; height: 600px; opacity: 0.1; z-index: 10; display: none; position: absolute; top: 0px; left: 0px;}
			  .required {color: red;}
			  .btn-save{border-radius: 5px 5px 5px 5px; padding: 5px 5px 5px 5px; width: 60px; height: 28px; float: right; margin: 3px;	text-align: center; background: rgb(92,184,92);  float: right; font-family: Oswald, sans-serif; color: white;}
			  .btn-back{border-radius: 5px 5px 5px 5px; padding: 5px 5px 5px 5px;  background: rgb(216,220,222);  width: 60px; height: 28px; float: right; margin: 3px;	text-align: center;  float: right;  font-family: Oswald, sans-serif;}
			  .active {  background-color: black;  color:#00ccff;}
			  .label_color{color:rgb(178,178,178);}
			  .search-btn {
				    z-index: 4 !important;
				    background-color: #737171;
				    border: 0 !important;
				    border-radius: 19px !important;
				    position: absolute !important;
				    right: 0;
				    padding: 6px 12px;
			   }
			   
			  .dropdown-item {
				    display: block;
				    width: 100%;
				    padding: 2px;
				    clear: both;
				    font-weight: 400;
				    color: #000;
				    text-align: center;
				    white-space: nowrap;
				    background-color: transparent;
				    border: 0;
				   font-family: Oswald;
				}
				.dropdown-menu {
				    top: 100%;
				    left: 0;
				    z-index: 1000;
				    display: none;
				    float: left;
				    min-width: 5rem;
				    padding: .5rem 0;
				    margin: .125rem 0 0;
				    font-size: 1rem;
				    color: #212529;
				    text-align: left;
				    list-style: none;
				    background-color: #fff;
				    background-clip: padding-box;
				    border: 1px solid rgba(0,0,0,.15);
				    border-radius: .25rem;
				  
				}
				.dropdown-item:focus, .dropdown-item:hover {
			    	color: #000000;
			    	text-decoration: none;
			    	background-color:#ebebeb;
			    	   
				}
				.page_info{
				  background-color: #ffffff;
				  height: 35px;
				  vertical-align: middle;
				}
				.page_title{
					padding-top: 5px;
					margin-left: 20px;
					
				}
	


.container {
	/*! max-width: 100%; */
	/*! padding-right:0%; */
	/*! padding-left:0%; */
	
}



.nopad {
	padding: 0;
}

.navbar {
	background-color: #5a5c5f;
	padding: 0;
}

.navbar .nav-link, .navbar-brand {
	color: #fff !important;
	padding: 15px 25px !important;
	font-size: 1rem;
	margin: 0
}

.nav-link-img {
	color: #fff !important;
	padding: 2px 2px !important;
	margin: 0
}

.navbar .nav-link:hover {
	background-color: #000;
	color: #00ccff !important;
}

.navbar .user-icon:hover {
	color: #fff !important;
}

.form-inline {
	margin: 0;
}

.search-input {
	color: #fff !important;
	background-color: #737171;
	border-radius: 19px !important;
	border-color: #737171;
}

.search-btn {
	z-index: 4 !important;
	background-color: #737171;
	border: 0 !important;
	border-radius: 19px !important;
	position: absolute !important;
	right: 0;
	padding: 11px;
}

.search-input.form-control:focus {
	background-color: #737171;
	box-shadow: none;
	border-color: #737171;
}

.btn-secondary:hover, .btn-secondary:active {
	background-color: #737171 !important;
	box-shadow: none;
	border-color: #737171;
	border-radius: 19px !important;
}

.btn-secondary.focus, .btn-secondary:focus {
	box-shadow: none;
}

.user-icon .fa-user {
	padding: 4px;
}

.required {
	color: red;
}

.btn-save {
	border-radius: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
	width: 60px;
	height: 28px;
	float: right;
	margin: 3px;
	text-align: center;
	background: rgb(92, 184, 92);
	float: right;
	font-family: Oswald, sans-serif;
	color: white;
}

.btn-back {
	border-radius: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
	background: rgb(216, 220, 222);
	width: 60px;
	height: 28px;
	float: right;
	margin: 3px;
	text-align: center;
	float: right;
	font-family: Oswald, sans-serif;
}

.active {
	background-color: black;
	color: #00ccff;
}

.label_color {
	color: rgb(178, 178, 178);
}

.search-btn {
	z-index: 4 !important;
	background-color: #737171;
	border: 0 !important;
	border-radius: 19px !important;
	position: absolute !important;
	right: 0;
	padding: 6px 12px;
}

.dropdown-item {
	display: block;
	width: 100%;
	padding: 2px;
	clear: both;
	font-weight: 400;
	color: #000;
	text-align: left;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
	font-family: Oswald;
	padding-left: 15px;
	padding-right: 50px;
	padding-bottom: 10px;
}

.dropdown-item1 {
	display: block;
	width: 100%;
	padding: 2px;
	clear: both;
	font-weight: 400;
	color: #fff;
	text-align: left;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
	font-family: Oswald;
	padding-left: 15px;
	padding-right: 50px;
	padding-bottom: 10px;
}

.dropdown-menu {
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 5rem;
	padding: .5rem 0;
	margin: .125rem 0 0;
	font-size: 1rem;
	color: #fff;
	text-align: left;
	list-style: none;
	background-color: #000;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: .25rem;
}

.dropdown-item:focus, .dropdown-item:hover {
	color: #000000;
	text-decoration: none;
	background-color: #ebebeb;
}

.dropdown-item1:focus, .dropdown-item1:hover {
	color: #000000;
	text-decoration: none;
	background-color: #ebebeb;
}

.page_info {
	background-color: #ffffff;
	height: 35px;
	vertical-align: middle;
}

.page_title {
	padding-top: 5px;
	margin-left: 20px;
}

.container-custom {
	width: 100%;
	font-family: Oswald;
}

.nopad {
	padding: 0;
}

.navbar {
	background-color: #5a5c5f;
	padding: 0;
}

.navbar .nav-link, .navbar-brand {
	color: #fff !important;
	padding: 15px 25px !important;
	font-size: 1rem;
	margin: 0
}

.nav-link-img {
	color: #fff !important;
	padding: 2px 2px !important;
	margin: 0
}

.navbar .nav-link:hover {
	background-color: #000;
	color: #00ccff !important;
}

.navbar .user-icon:hover {
	color: #fff !important;
	background-color: #5a5c5f;
}

.form-inline {
	margin: 0;
}

.search-input {
	color: #fff !important;
	background-color: #737171;
	border-radius: 19px !important;
	border-color: #737171;
}

.search-btn {
	z-index: 4 !important;
	background-color: #737171;
	border: 0 !important;
	border-radius: 19px !important;
	position: absolute !important;
	right: 0;
	padding: 11px;
}

.search-input.form-control:focus {
	background-color: #737171;
	box-shadow: none;
	border-color: #737171;
}

.btn-secondary:hover, .btn-secondary:active {
	background-color: #737171 !important;
	box-shadow: none;
	border-color: #737171;
	border-radius: 19px !important;
}

.btn-secondary.focus, .btn-secondary:focus {
	box-shadow: none;
}

.user-icon .fa-user {
	padding: 4px;
}

.required {
	color: red;
}

.btn-save {
	border-radius: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
	width: 60px;
	height: 28px;
	float: right;
	margin: 3px;
	text-align: center;
	background: rgb(92, 184, 92);
	float: right;
	font-family: Oswald, sans-serif;
	color: white;
}

.btn-back {
	border-radius: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
	background: rgb(216, 220, 222);
	width: 60px;
	height: 28px;
	float: right;
	margin: 3px;
	text-align: center;
	float: right;
	font-family: Oswald, sans-serif;
}

.active {
	background-color: black;
	color: #00ccff;
}

.label_color {
	color: rgb(178, 178, 178);
}

.search-btn {
	z-index: 4 !important;
	background-color: #737171;
	border: 0 !important;
	border-radius: 19px !important;
	position: absolute !important;
	right: 0;
	padding: 6px 12px;
}

.page_info {
	background-color: #ffffff;
	height: 35px;
	vertical-align: middle;
}

.page_title {
	padding-top: 5px;
	margin-left: 20px;
}

select:required:invalid {
	color: gray;
}

option[value=""][disabled] {
	display: none;
}

option {
	color: black;
}

input[type="date"]:before {
	content: attr(placeholder) !important;
	color: #aaa;
	margin-right: 0.5em;
}

input[type="date"]:focus:before, input[type="date"]:valid:before {
	content: "";
}

.backbutton, .savebutton {
	font-size: 12px;
	border-radius: 5px 5px 5px 5px;
	background: #D8DCDE;
	padding: 5px 5px 5px 5px;
	width: 60px;
	height: 28px;
	float: right;
	margin: 3px;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
}

.ok_button {
	font-size: 12px;	border-radius: 5px 5px 5px 5px;	background: #D8DCDE;	padding: 5px 5px 5px 5px;	width: 60px;	height: 28px;	float: right;margin: 3px;text-align: center;	cursor: pointer;}

.mentor_info_title {
	font-size: 17px;
	border-radius: 5px 5px 5px 5px;
	background: #fff;
	padding: 5px 5px 5px 15px;
	height: 30px;
	margin: 3px;
}

.add_mentor_head {
	font-size: 20px;
	padding-left: 20px;
	border-radius: 5px 5px 5px 5px;
	margin: 3px 3px 3px 3px;
	background-color: #fff;
	height: 30px;
}

.required {
	color: #e32;
	content: " *";
	display: inline;
}

.mentor_info_form {
	font-size: 12px;
	border-radius: 5px 5px 5px 5px;
	background: #fff;
	padding: 5px 5px 5px 15px;
	margin: 3px;
	text-transform: none;
}

.page_footer {
	height: 40px;
	background-color: #454545;
}

.mentor_added_message {
	height: 40px;
	width: 250px;
	border-radius: 5px 5px 5px 5px;
	background-color: #DFF0D8;
	color: #008000;
	display: block;
	position: absolute;
	left: 500px;
	top: 60px;
	"
}

.form_lable {
	width: 300px;
	padding-left: 100px;
	font-size: 14px;
	color: #909497;
}

table.b, table tr.b, table td.b {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0;
	padding: 0;
	border: 0;
}

.txtbrcolr {
	border-color: red;
}

#startDate {
	background-color: #ffffff;
	font-family: "Oswald";
	position: relative;
}

.gj-datepicker [role=right-icon] {
	background-color: white;
}

#endDate {
	background-color: #ffffff;
	font-family: "Oswald";
}

.gj-picker-bootstrap table tr td div, .gj-picker-bootstrap table tr th div
	{
	display: block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	vertical-align: middle;
	color: #75726a;
	background-color: #ffffff;
}

.inputstl {
	padding: 9px;
	border: solid 1px #2C6E8E;
	outline: 0;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF),
		color-stop(4%, #93C5DD), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #93C5DD 1px, #FFFFFF 25px);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

#dialogoverlay {
	display: none;
	opacity: .1;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #000;
	width: 100%;
	z-index: 10;
}

#dialogbox {
	display: none;
	position: fixed;
	background: WHITE;
	border-radius: 7px;
	width: 400px;
	z-index: 10;
}

#dialogbox>div {
	background: #FFF;
	margin: 8px;
}

#dialogbox>div>#dialogboxhead {
	background: WHITE;
	font-size: 14x;
	padding: 10px;
}

#dialogbox>div>#dialogboxbody {
	background: WHITE;
	padding: 20px;
}

#dialogbox>div>#dialogboxfoot {
	background: WHITE;
	padding: 10px;
	text-align: right;
}

#batch_start_date, #batch_end_date, #batch_status, #batch_id {
	height: 40px;
}

.backbutton, .savebutton {
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	border-radius: 5px 5px 5px 5px;
	background: #D8DCDE;
	padding: 5px 5px 5px 5px;
	width: 60px;
	height: 32px;
	float: right;
	margin: 3px;
	text-align: center;
	cursor: pointer;
}

.batch_info_title {
	font-size: 17px;
	border-radius: 5px 5px 5px 5px;
	background: #fff;
	padding: 5px 5px 5px 15px;
	height: 40px;
	margin-left: 15px;
	margin-right: 15px;
}

.add_batch_head {
	font-size: 24px;
	padding-left: 15px;
	border-radius: 5px 5px 5px 5px;
	margin: 0px;
	background-color: #fff;
	/*height: 32px;*/
}

.form_lable {
	width: 200px;
	padding-left: 0px;
	font-size: 14px;
	color: #909497;
	height: 50px;
}

.required {
	color: #e32;
	content: " *";
	display: inline;
}

.batch_info_form {
	font-size: 14px;
	border-radius: 5px 5px 5px 5px;
	background: #fff;
	padding: 5px 5px 5px 35px;
	margin-top: 5px;
	margin-left: 15px;
	margin-right: 15px;
}

.page_footer {
	height: 40px;
	background-color: #454545;
}

.rd_admin_tab {
	background-color: #23CAEB;
	color: #fff;
	display: table-cell;
}

table.b, table tr.b, table td.b {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0;
	padding: 0;
	border: 0;
}

.getwidth {
	width: 97%;
}

.txtbrcolr {
	border-color: red;
}

.batch_added_message {
	height: 40px;
	width: 250px;
	border-radius: 5px 5px 5px 5px;
	background-color: #DFF0D8;
	color: #008000;
	display: none;
	position: absolute;
	left: 500px;
	top: 60px;
	"
}

#batch_status, #batch_id {
	background-color: #EBEBEB;
	color: #545454;
}

#dialogoverlay {
	display: none;
	opacity: .1;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #000;
	width: 100%;
	z-index: 10;
}

#dialogbox {
	display: none;
	position: fixed;
	background: WHITE;
	border-radius: 7px;
	width: 400px;
	z-index: 10;
}

#dialogbox>div {
	background: #FFF;
	margin: 8px;
}

#dialogbox>div>#dialogboxhead {
	background: WHITE;
	font-size: 14x;
	padding: 10px;
}

#dialogbox>div>#dialogboxbody {
	background: WHITE;
	padding: 20px;
}

#dialogbox>div>#dialogboxfoot {
	background: WHITE;
	padding: 10px;
	text-align: right;
}

.backbutton, .savebutton {
	font-size: 12px;
	border-radius: 5px 5px 5px 5px;
	background: #D8DCDE;
	padding: 5px 5px 5px 5px;
	width: 60px;
	height: 28px;
	float: right;
	margin: 3px;
	text-align: center;
	cursor: pointer;
}

.batch_info_title {
	font-size: 17px;
	border-radius: 5px 5px 5px 5px;
	background: #fff;
	padding: 5px 5px 5px 15px;
	height: 30px;
	margin: 3px;
}

.add_batch_head {
	font-size: 20px;
	padding-left: 20px;
	border-radius: 5px 5px 5px 5px;
	margin: 3px;
	background-color: #fff;
	height: 30px;
}

.form_lable {
	width: 300px;
	padding-left: 100px;
	font-size: 14px;
	color: #909497;
}

.required {
	color: #e32;
	content: " *";
	display: inline;
}

.batch_info_form {
	font-size: 12px;
	border-radius: 5px 5px 5px 5px;
	background: #fff;
	padding: 5px 5px 5px 15px;
	margin: 3px;
}

.page_footer {
	height: 40px;
	background-color: #454545;
}

.rd_admin_tab {
	background-color: #23CAEB;
	color: #fff;
	display: table-cell;
}

table.b, table tr.b, table td.b {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0;
	padding: 0;
	border: 0;
}

.getwidth {
	width: 100%
}

.txtbrcolr {
	border-color: red;
}

.batch_added_message {
	height: 40px;
	width: 250px;
	border-radius: 5px 5px 5px 5px;
	background-color: #DFF0D8;
	color: #008000;
	display: none;
	position: absolute;
	left: 500px;
	top: 60px;
	"
}

.student_added_message {
	height: 40px;
	width: 250px;
	border-radius: 5px 5px 5px 5px;
	background-color: #DFF0D8;
	color: #008000;
	display: block;
	position: absolute;
	left: 500px;
	top: 60px;
	z-index: 10px;
}

.table thead th {
	vertical-align: bottom;
	border-bottom: 2px solid #dee2e6;
	font-weight: bold;
}

table td, .table th {
	padding: .75rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
	font-weight: normal;
}

.nav-link-full {
	position: relative;
	top: 0px;
	height: 66px;
	line-height: 2.9em;
}

.ddmf {
	font-Size: 14;
	font-color: #f2f2f2;
	background: #ffffff;
}

.xyz {
	background: #EBEBEB;

	border-color:#EBEBEB;
}
 
.searchIcon {
	 position:relative;
	 color:#bebebe;
	 aria-hidden:true;
	 opacity:100;
	 border:none;
	 background-color:#ececec;
	 padding: 12px 24px;
}