@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

body
{
	font-family: Oswald, sans-serif;
	background-color: #EBEBEB;
	text-transform: uppercase;
	
}

.container-custom{width:100%; font-family:Oswald;}
			  .nopad{padding:0;}
			  .navbar{background-color:#5a5c5f; padding: 0;}
			  .navbar .nav-link,.navbar-brand{color:#fff !important; padding:15px 25px !important; font-size:1rem; margin: 0}
			  .nav-link-img{color:#fff !important; padding:2px 2px !important; margin: 0}
			  .navbar .nav-link:hover{background-color:#000; color:#00ccff !important;}
			  .navbar .user-icon:hover{color:#fff !important;}
			  .form-inline{margin:0;}
			  .search-input{color:#fff !important;background-color: #737171;border-radius: 19px !important; border-color:#737171;}
			  .search-btn{z-index:4 !important;background-color:#737171; border: 0 !important;border-radius: 19px !important;position: absolute !important; right: 0;padding: 11px;}
			  .search-input.form-control:focus{background-color:#737171; box-shadow:none; border-color:#737171;}
			  .btn-secondary:hover, .btn-secondary:active{background-color:#737171 !important; box-shadow:none; border-color:#737171;border-radius: 19px !important;}
			  .btn-secondary.focus, .btn-secondary:focus{box-shadow: none;}
			  .user-icon .fa-user{padding: 4px;}
			  .required {color: red;}
			  .btn-save{border-radius: 5px 5px 5px 5px; padding: 5px 5px 5px 5px; width: 60px; height: 28px; float: right; margin: 3px;	text-align: center; background: rgb(92,184,92);  float: right; font-family: Oswald, sans-serif; color: white;}
			  .btn-back{border-radius: 5px 5px 5px 5px; padding: 5px 5px 5px 5px;  background: rgb(216,220,222);  width: 60px; height: 28px; float: right; margin: 3px;	text-align: center;  float: right;  font-family: Oswald, sans-serif;}
			  .active {  background-color: black;  color:#00ccff;}
			  .label_color{color:rgb(178,178,178);}
			  .search-btn {
				    z-index: 4 !important;
				    background-color: #737171;
				    border: 0 !important;
				    border-radius: 19px !important;
				    position: absolute !important;
				    right: 0;
				    padding: 6px 12px;
			   }
			  .dropdown-item {
				    display: block;
				    width: 100%;
				    padding: 2px;
				    clear: both;
				    font-weight: 400;
				    color: white;
				    text-align: center;
				    white-space: nowrap;
				    background-color: transparent;
				    border: 0;
				}
				.dropdown-menu {
				    /* position: absolute; */
				    top: 100%;
				    left: 0;
				    z-index: 1000;
				    display: none;
				    float: left;
				    min-width: 5rem;
				    padding: .5rem 0;
				    margin: .125rem 0 0;
				    font-size: 1rem;
				    color: #212529;
				    text-align: left;
				    list-style: none;
				    background-color: black;
				    background-clip: padding-box;
				    border: 1px solid rgba(0,0,0,.15);
				    border-radius: .25rem;
				}
				.dropdown-item:focus, .dropdown-item:hover {
			    	color: white;
			    	text-decoration: none;
			    	background-color: black;
				}
				.page_info{
				  background-color: #ffffff;
				  height: 35px;
				  vertical-align: middle;
				}
				.page_title{
					padding-top: 5px;
					margin-left: 20px;
					
				}
	
select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}

 input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
  }
  input[type="date"]:focus:before,
  input[type="date"]:valid:before {
    content: "";
  }